In [2]:
import pandas as pd
import numpy as np
import math
from sklearn.neighbors import KNeighborsClassifier

data=pd.read_csv("train.csv")

train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
testy=pd.read_csv("gender_submission.csv")
test["Survived"]=testy.Survived
##initial training set
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1

In [9]:
##creates a numeric nparray from training set
def createnumerics(data):
    data.head()
    type(data)
    ##dropping passenger ID column
    data=data.drop('PassengerId',1)
    ##dropping ticket number
    data=data.drop('Ticket',1)
    
    ## getting titles of passengers
    title=[]
    
    for i in range(data.shape[0]):
        title.append(data['Name'][i].split(",")[1].replace(".","").split(" ")[1])
    
    for i in range(len(title)):
        if title[i] == 'Ms':
            title[i] = 'Miss'
        elif title[i]=='Mme':
            title[i]='Mrs'
            
    title.count("Mr")+title.count("Mrs")+title.count("Master")+title.count("Miss")
    common=['Mr','Miss','Mrs','Master']
    for i in range(len(title)):
        if title[i] not in common:
            title[i]='rare'
    title
    # converting title into numerics
    """
    title_num=[]
    for i in title:
        if i == "Mr":
            title_num.append(1)
        elif i =="Miss":
            title_num.append(2)
        elif i=="Mrs":
            title_num.append(3)
        elif i=="Master":
            title_num.append(4)
        else:
            title_num.append(5)    
    """
    title_num=pd.factorize(title)
    title_num=list(title_num[0])
    
    title_num
    # sex to numerics    
    """
    sex_num=[]
    for i in data["Sex"]:
        if i =="male":
            sex_num.append(1)
        else:
            sex_num.append(0)
    """
    sex_num=pd.factorize(data["Sex"])
    sex_num=list(sex_num[0])
    
    sex_num
    
        
    ##embarked to numerics
    
    emb=data.Embarked.fillna('S')
    emb=list( )
    emb.count('S')
    
    embark_num=pd.factorize(data["Embarked"])
    embark_num=list(embark_num[0])
    
    embark_num    
    ##Analyze Fare
    
    fare=list(data.Fare)
    Fare=[]
    for i in fare:
        if not math.isnan(i):
            Fare.append(i)
    fare=data.Fare.fillna((int)(np.median(Fare)))   
    fare=[i/10 for i in fare]
    fare=[int(i) for i in fare]
    
    fare
    
    ##age
    Age=[]
    age=list(data.Age)
    for i in age:
        if not math.isnan(i):
            Age.append(i)
    age=data.Age.fillna((int)(np.median(Age)))
    age=[int(i)for i in age]
    
    age 
    
    ##SIblings & Spouses
    sibsp=list(data.SibSp)
    
    ##Parent - Children
    parch=list(data.Parch)
    ## Pclass
    pclass=list(data.Pclass)
    
    ## result
    y=list(data.Survived)
    
    ##NP-array of all obtained numerics.
    numerics=np.array([pclass,title_num,sex_num,age,sibsp,parch,fare,embark_num])    
    numerics=np.transpose(numerics)
    return (numerics,y)

##numerics of the training set
(X,Y)=createnumerics(train)
print(X)
print("\n\n")
print(Y)

[[3 0 0 ..., 0 0 0]
 [1 1 1 ..., 0 7 1]
 [3 2 1 ..., 0 0 0]
 ...,
 [3 2 1 ..., 2 2 0]
 [1 0 0 ..., 0 3 1]
 [3 0 0 ..., 0 0 2]]



[0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0]

In [16]:
(x,y)=createnumerics(test)
##test dataset into numerics
print(x)
print("\n\n")
print(y)

[[3 0 0 ..., 0 0 0]
 [3 1 1 ..., 0 0 1]
 [2 0 0 ..., 0 0 0]
 ...,
 [3 0 0 ..., 0 0 1]
 [3 0 0 ..., 0 0 1]
 [3 3 0 ..., 1 2 2]]



[0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0]

In [35]:
"""
implements KNN classifier from skl and returns accuracy
"""
def KNN_skl(train,test,n):
    (trX,trY)=createnumerics(train)
    (teX,teY)=createnumerics(test)
    y=np.array(teY)
    bleh=KNeighborsClassifier(n_neighbors=3)
    bleh.fit(trX,trY)
    Y=bleh.predict(teX)
    return(np.average(y==Y))


print(KNN_skl(train,test,3))

%timeit (KNN_skl(train,test,3))

0.708133971292
10 loops, best of 3: 29.5 ms per loop

In [36]:
## Lazy classification K-Nearest Neighbors classification
"""
K - Nearest Neighbours Classifier(My Implementation)
"""
n=5
def KNN(train,test,n):
    (trX,trY)=createnumerics(train)
    (teX,teY)=createnumerics(test)
    Y=[]
    
    for i in teX:
        dist=[]
        for j in range(len(trX)):
            dist.append(((sum((i-trX[j])**2)),j))
            dist.sort()
        ind=[]
        for i in range(n):
            ind.append(dist[i][1])
        votes=0
        for i in ind:
            votes=votes+trY[i]
        if votes>n//2:
            Y.append(1)
           # np.append(trX,i)
           # trY.append(1)
        else:
            Y.append(0)
         #   np.append(trX,i)
          #  trY.append(0)
    q=np.array(Y)
    w=np.array(teY)
    return(np.average(q==w))    
##returns accuracy of predictions in test data, after noting from train data
print(KNN(train,test,3))

0.765550239234

In [70]:
"""
My Logistic regression model to predict for the same dataset
"""
#signoid function
def sigm(x):
    return 1/(1+((np.e)**(-x)))

##making data into numerics
(trX,trY)=createnumerics(train)
(teX,teY)=createnumerics(test)
X=np.array(trX)
Y=np.array(trY)
x=teX
y=teY
"""
COST FUNC
"""

def cost(theta, X , Y):
    m=len(Y)
    hx=sigm(X.dot(np.transpose(theta)))
    J=(np.transpose(Y).dot(np.log(hx)))+((1-np.transpose(Y)).dot(np.log(1-hx)))
    J=-J/m
    G=(np.transpose(X).dot(hx-Y))/m
    return(J,G)


"""
Gradient Descent Algorithm to optimize Theta 
"""
C=[]
def GradientDescent(X,Y,theta=np.zeros(8),alpha=0.01,N=10000):
    
    m=len(Y)
    for i in range(N):
        D= (1 / m) * np.transpose( np.transpose( sigm(X.dot(theta)) - Y).dot(X));
        theta=theta-(alpha*D)
   #     C.append(cost(theta,X,Y)[0])
    return theta

"""
Predict Function to make Final Predicton
"""
def predict(theta,X):
    return (sigm(X.dot(np.transpose(theta)))>=0.5)

"""
Calculates Accuracy
"""
def acc(pred,rval):
    return np.average(pred==rval)

print(acc(predict(GradientDescent(X,Y,np.zeros(8),0.01,10000),teX),teY))

0.964114832536